/* You can add global styles to this file, and also import other style files */
body{
  background-color: lightblue;
}
.card-wrap {
  background-color: white;
  margin: 0 auto;
}
.text-centre{
  text-align: center;
}
.cursor-pointer{
  cursor: pointer;
}
.text-header{
  color: dodgerblue;
  margin: 16px;

}
.mrg20{
  margin: 20px;
}
